nav li {
    list-style: none;
    display: inline;
    margin-right: 15px;
}
nav li:hover{
    background-color: rgb(99, 201, 201);
}
nav li a{
    text-decoration: none;
    
}
footer{
    text-align: center;
}
form{

    text-align: left;
    background-color: rgb(233, 165, 47);
    text-decoration: rgb(201, 69, 45);
    background-size: 10%;
    background-color: rgb(208, 107, 107);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
    line-height: 1.6;
}

/* Header */
header {
    background: #050505;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

/* Navigation */
nav {
    background: #555;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Layout */
.container {
    width: 80%;
    margin: 20px auto;
    display: flex;
    gap: 20px;
}

/* Blog posts */
.posts {
    flex: 3;
}

.post {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.post h2 {
    margin-bottom: 10px;
    color: #333;
}

.post small {
    color: #777;
}

/* Sidebar */
.sidebar {
    flex: 1;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    height: fit-content;
}

.sidebar ul {
    list-style: none;
    margin-top: 10px;
}

.sidebar ul li {
    padding: 5px 0;
}

/* Button */
button {
    background: #333333;
    color: #fff;
    border:navajowhite;
    padding: 8px 12px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #e11a1a;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

footer{
 
    border-bottom: #e11a1a;

}
button{
    background-color: #e11a1a;
}